.header {
    overflow: hidden;

    button {
        float: right;
    }
}

.arrow {

    font-size: 40px;

    .arrow-up {
        color: greenyellow;
    }

    .arrow-down {
        color: red;
    }
}

.quote {
    display: inline-block;
    margin-right: 32px;
}