.container {
    border: 1px solid black;
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.header {
    overflow: hidden;

    h1 {
        float: left;
    }

    button {
        float: right;
    }
}

.arrow {

    font-size: 40px;

    .arrow-up {
        color: greenyellow;
    }

    .arrow-down {
        color: red;
    }
}

.quote {
    display: inline-block;
    margin-right: 32px;
}