<div class="card">

    <div class="header">
        <app-company-name [symbol]="symbol"></app-company-name>
        <button (click)="removeStock()">X</button>
    </div>

    <ng-container *ngIf="quote$ | async as quote; else loadingQuote">
        <div class="quote">
            <p>Change today {{ quote.change | percent:'1.1-3' }}</p>
            <p>Opening price {{ quote.openingPrice | currency }}</p>
        </div>
    
        <div class="quote">
            <p>Current price {{ quote.currentPrice | currency }}</p>
            <p>High price {{ quote.highPrice | currency }}</p>
        </div>
        <div class="quote">
            <span appTrendIndicator [change]="quote.change"></span>
        </div>
    </ng-container>
    <ng-template #loadingQuote><div>&#9203; Loading ...</div></ng-template>
    
    <div>
        <a [routerLink]="['/sentiment/' + symbol]" class="link-button">
            Go to social sentiment details >
        </a>
    </div>
</div>
