.card {
    display: inline-block;
    width: 450px;
    margin-right: 16px;
}

.header {
    overflow: hidden;

    button {
        float: right;
    }
}

.quote {
    display: inline-block;
    margin-right: 32px;
}